.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    background: #FFFF;
    border-radius: 15px;
    margin: 40px auto;
    overflow: hidden;
    position: relative;
}
.plantita {
    
    width: 100%;
    height: 160px;
    left: 50px;
    top:127px;
  
}
.persona {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    top: 16%;
    left: 28%;
    border: 5px solid  #F1EAEA;
    ;
}